
body{
	color:white;
	font-family: Arial;
	font-size: 22pt;
	background-color:yellow;
}

h3{
	color:red;
	font-family: verdana;
	font-size: 18pt;
}
<link REl=StyleSheet HREF="css/estilos.css" TYPE="text/css" MEDIA="screen">